$black: #0d1117;
$white: #ffffff;
$light-purple: #edd7ff;
$purple: #8739fa;

:root {
    color-scheme: light dark;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: light-dark($black, $white);
  }
  
  html {
    font-family: "Mulish Variable", sans-serif;
    scroll-behavior: smooth;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1120px;
    margin: auto !important;
    background: light-dark($light-purple,$black);
  }
  
  /* Header styles  */
  .header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 5px 30px;
    border-radius: 50px;
    animation: show-nav 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }
  
  .logo a {
    font-size: 24px;
    font-weight: bold;
    color: light-dark($black, $white);
  }
  
  .highlighted {
    color: $purple;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .menu a {
    display: block;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
    color: light-dark($black, $white);
  }
  
  .menu:hover a {
    opacity: 0.4;
  }
  
  .menu a:hover {
    opacity: 1;
    color: $white;
  }
  
  .menu-icon {
    display: none;
  }
  
  #menu-toggle {
    display: none;
  }
  
  #menu-toggle:checked ~ .menu {
    transform: scale(1, 1);
  }
  
  .rigth-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Flag */
  
  #flags {
    margin: 0 30px 0 30px;
  }
  
  #flags > li {
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  /* Title */
  .title {
    font-size: 4rem;
    text-align: center;
  }
  
  .phrase {
    margin: 1rem 0 1rem 0;
    font-size: 2rem;
    font-weight: 300;
  }
  
  /* Page sections */
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px 20px 30px;
  }
  
  section {
    margin: 4rem 0 2rem 0;
  }
  
  .section-2 {
    display: flex;
    justify-content: space-between;
    gap: 0 40px;
  }
  
  /* WhatsApp Btn */
  .wp-btn {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    margin: 0 1rem 1rem 0;
    border: none;
    outline: none;
    border-radius: 100%;
    background: #25d366;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .wp-btn:hover {
    transform: scale(1.2);
  }
  
  .fa-whatsapp:before {
    color: $white;
    font-size: 2rem;
  }
  
  /* Footer */
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }
  
  .designed-by-container {
    display: flex;
    flex-direction: column;
  }
  
  .designed-by-container,
  .author {
    color: light-dark($black, $white);
  }
  
  .designed-by-container > p {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .author {
    font-size: 0.9rem;
  }
  
  /*  Sliders */
  .slider-frame {
    width: 650px;
    height: auto;
    margin: 0 auto 0;
    overflow: hidden;
    border-radius: 50px;
  }
  
  .slider-frame ul {
    display: flex;
    height: auto;
    padding: 0;
    width: 300%;
  
    animation: slide 12s infinite alternate ease-in-out;
  }
  
  .slider-frame li {
    list-style: none;
    width: 100%;
    height: 350px;
  }
  
  .slider-frame img {
    width: 100%;
  }
  
  /*  Gallery */
  .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
  }
  .gallery-item {
    position: relative;
    flex: 1 1 calc(33.33% - 20px);
    max-width: 300px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
  }
  .gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  
  .gallery-item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .gallery-item-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .gallery-item-3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  }
  
  .gallery-item-4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  }
  
  .gallery-item-5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  }
  
  .gallery-item-6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 60px;
  }
  
  .modal img {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 90vh;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  .caption {
    margin: 10px;
    color: #ccc;
    text-align: center;
  }
  
  .form-container > iframe {
    border-radius: 10px;
  }
  
  /* Responsive design */
  /* Tablet */
  @media (width <= 950px) {
    .menu {
      flex-direction: column;
      background-color: #151418;
      align-items: start;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      z-index: 1;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 0.3s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
  
    .menu a {
      margin-left: 12px;
    }
  
    .menu li {
      margin-bottom: 10px;
    }
  
    .menu-icon {
      display: block;
      color: $white;
      font-size: 28px;
      cursor: pointer;
    }
  }
  
  /* Mobile */
  @media (width <= 768px) {
    body {
      padding: 0 1rem 0 1rem;
    }
  
    section {
      margin: 2rem 0 1rem 0;
    }
  
    .section-2 {
      flex-direction: column;
      gap: 40px 0;
    }
  
    .footer {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .designed-by-container {
      margin-top: 1rem;
      align-items: center;
    }
  
    .phrase {
      text-align: center;
    }
  
    /* Slider */
    .slider-frame {
      width: auto;
      height: 300px;
    }
  
    .slider-frame li {
      height: 300px;
    }
  
    /* Gallery */
    .gallery {
      display: flex;
      flex-direction: column;
    }
  
    .image {
      flex: 1 1 calc(50% - 20px);
    }
  
    .gallery-img {
      height: 70%;
      border-radius: 10px;
    }
  }
  
  @media (max-width: 576px) {
    .image {
      flex: 1 1 100%;
    }
  }
  
  @keyframes slide {
    0% {
      margin-left: 0%;
    }
    20% {
      margin-left: 0%;
    }
  
    25% {
      margin-left: -100%;
    }
    45% {
      margin-left: -100%;
    }
  
    50% {
      margin-left: -200%;
    }
    70% {
      margin-left: -200%;
    }
  }
  
  @keyframes show-nav {
    100% {
      background: light-dark(#ffffffe4, #0d1117e8);
      border: 1px solid #aaaaaa1c;
    }
  }
  /* Login Container */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  width: 400px;
  margin: auto;
  height: 500px;
}

/* Login Container */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: light-dark($white, $purple);
  width: 400px;
  margin: auto;
  height: 500px;
  border-radius: 50px;
  padding-left: 15px;
}

.login-tittle {
  color: light-dark($black, $black); /* Cambia color según el modo */
  margin-top: 70px;
  margin-bottom: 95px;
}

input {
  border: none;
  background-color:light-dark(#f0f0f0, $white); /* Fondo input cambia con el modo */
  color: light-dark($black, $black); /* Color del texto dentro del input cambia con el modo */
  display: block;
  margin: 25px auto; 
  height: 40px;
  width: 220px;
  border-radius: 50px;
  padding-left: 15px;

  &::placeholder{
    color: gray;
  }
}

.login-button {
  width: 220px;
  height: 35px;
  background-color: light-dark($purple, $black);
  border: none;
  font-weight: 500;
  font-size: 15px;
  color: light-dark($white, $white); /* Color del texto del botón */
  border-radius: 50px;
}

.login-button:hover {
  cursor: pointer;
}

.sign-in {
  color: light-dark($purple,$white);/* Color para el enlace de sign-in cambia con el modo */
}

.create-account {
  margin-top: 15px;
  font-size: 14px;
  color: light-dark($black, $black); /* Color para el enlace de create account cambia con el modo */
}

.error-message {
  color: light-dark(red,  #FFA500);
  font-size: 12px;
  margin: 0;
  display: none; 
}

#passwordError {
  margin-bottom: 18px;
}
.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: light-dark($white, $purple);
  width: 400px;
  margin: auto;
  height: 720px;
  border-radius: 50px;
}
.signin-tittle{
  color: $black;
  margin-top: 45px;
  margin-bottom: 75px;
}
