* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #fff;
}

html {
  font-family: "Mulish Variable", sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1120px;
  margin: auto !important;
  background: #0d1117;
}

/* Header styles  */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 5px 30px;
  border-radius: 50px;
  animation: show-nav 1s linear both;
  animation-timeline: scroll();
  animation-range: 0 100px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.highlighted {
  color: #8739fa;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.menu a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
  color: #fff;
}

.menu:hover a {
  opacity: 0.4;
}

.menu a:hover {
  opacity: 1;
  color: #fff;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}

.rigth-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Flag */

#flags > li {
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Title */
.title {
  font-size: 4rem;
  text-align: center;
}

.phrase {
  margin: 1rem 0 1rem 0;
  font-size: 2rem;
  font-weight: 300;
}

/* Page sections */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px 20px 30px;
}

section {
  margin: 4rem 0 2rem 0;
}

/* WhatsApp Btn */
.wp-btn {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  margin: 0 1rem 1rem 0;
  border: none;
  outline: none;
  border-radius: 100%;
  background: #25d366;
  cursor: pointer;
  transition: 0.3s;
}

.wp-btn:hover {
  transform: scale(1.2);
}

.fa-whatsapp:before {
  color: #fff;
  font-size: 2rem;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.designed-by-container {
  display: flex;
  flex-direction: column;
}

.designed-by-container,
.author {
  color: #fff;
}

.designed-by-container > p {
  font-size: 1rem;
  font-weight: bold;
}

.author {
  font-size: 0.9rem;
}

/*  Sliders */
.slider-frame {
  width: 650px;
  height: auto;
  margin: 0 auto 0;
  overflow: hidden;
  border-radius: 50px;
}

.slider-frame ul {
  display: flex;
  height: auto;
  padding: 0;
  width: 300%;

  animation: slide 12s infinite alternate ease-in-out;
}

.slider-frame li {
  list-style: none;
  width: 100%;
  height: 350px;
}

.slider-frame img {
  width: 100%;
}

/*  Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}
.gallery-item {
  position: relative;
  flex: 1 1 calc(33.33% - 20px);
  max-width: 300px;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
}
.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.gallery-item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery-item-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery-item-3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery-item-4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery-item-5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery-item-6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 60px;
}

.modal img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.caption {
  margin: 10px;
  color: #ccc;
  text-align: center;
}

.form-container > iframe {
  border-radius: 10px;
}

/* Responsive design */
/* Tablet */
@media (width <= 950px) {
  .menu {
    flex-direction: column;
    background-color: #151418;
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu a {
    margin-left: 12px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
  }
}

/* Mobile */
@media (width <= 768px) {
  body {
    padding: 0 1rem 0 1rem;
  }

  section {
    margin: 2rem 0 1rem 0;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .designed-by-container {
    margin-top: 1rem;
    align-items: center;
  }

  /* Slider */
  .slider-frame {
    width: auto;
    height: 300px;
  }

  .slider-frame li {
    height: 300px;
  }

  /* Gallery */
  .image {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .image {
    flex: 1 1 100%;
  }
}

@keyframes slide {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
}

@keyframes show-nav {
  100% {
    background: #0d1117e8;
    border: 1px solid #aaaaaa1c;
  }
}
